body{
    background-color: rgba(22, 11, 35, 0.753);
}
h1.nome{
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    text-align: center;
    border: solid;
    border-color: tan;
    width: 150px;
    height: 25px;
}
p{
    background-color: rgb(168, 187, 197);
    border:solid;
    border-color:rgb(90, 132, 131);
    
}
.titulo{
    background-color: rgba(120, 76, 85, 0.54);
    border:solid;
    border-color:rgb(45, 26, 26);
    text-align: center;
}
.lisord{
    background-color: pink;
    border:solid;
    border-color:rosybrown ;
}
.MPPT{
    background-color: sandybrown;
    border:solid;
    border-color:sienna;
    max-width: 90px;
    min-width: 60px;
}
input{
    background-color: aqua;
    height: 20px;
    border:1px solid; 
    margin-left: 80%;
}
